*{
      font-family:'Sans-serif';
}
section {
      padding: 1%;
      //border: 2px solid black;      // this are used for test conditions
      
}

.student-data .p-1 img{
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 50% 50%;
}

.hover{
      $hoverEasing: cubic-bezier(0.23, 1, 0.32, 1);
      $returnEasing: cubic-bezier(0.445, 0.05, 0.55, 0.95);
      box-shadow:
    rgba(black, 0.66) 0 30px 60px 0;
}

.header{

      padding-bottom: 3%;

      img{
            width: 10em;
            min-width: 5rem;
            max-width: 10rem;
      }
      
      h5 {
            font-size: 170%;
      }
      
}

.search {
      width: 15%;
      min-width: 200px;
      float: right;
      margin-right: 1rem;
      line-height: 0;
      margin-top: -2.5%;
}

.move-top{
      margin: -2rem auto 0 auto;
}

.heading {
      padding: 20px 0 ;
}

.news {
      
      padding: 0 10%;
      img {
            height: 30rem;
            
      }
}

body{
      display: flex;
      flex-direction: column;
      height:100vh; 
      margin:0;
}

footer{
      margin-top: auto;
}

.footer {
      bottom:0;
      width:100%;
      height:40px;   /* Height of the footer */
      background:rgb(255, 102, 102);

      a, p{
            display: inline;
      }

      a{
            text-decoration: none;
      }
}

.card img{
      width: 80%;
      margin: auto;
}

.choices .card .card-body{
      p {
            font-size: 50%;
      }
}

.wrapper-grid {
      display: grid;
      grid-template-columns: repeat(auto-fit, 20rem);
      justify-content: center;
}

.wrapper-grid-research {
      display: grid;
      grid-template-columns: 1fr;
      justify-content: center;
}

.wrapper-grid-subject {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      justify-content: center;
      h4, h3{
            display: inline;
      }
}

.wrapper-grid-awards {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      justify-content: center;
}


.btn-classLogo {
      background-image: url("../Assets/logo/CSOrg.ico");
      background-repeat: no-repeat;
      background-position: left;
      background-size: 30%;
      transition: background-size 0.5s ease-in-out;
      
      .btn-gra {
            background: linear-gradient(0.30turn, rgba(255,255,255,.50), #1e90ff 90%);
            box-shadow: inset 0 0 0 0 rgba(0, 0, 255, 0.418);
            transition: all .3s ease-in;
      }
      
      h2{
            color: rgb(27, 27, 27);
            font-weight: bold;
      }
      
}

.btn-classLogo:hover {
      background-image: url("../Assets/logo/CSOrg.ico");
      background-repeat: no-repeat;
      background-position: left;
      background-size: 25%;
      
      .btn-gra {
            box-shadow: inset 30000px 0 0 0 rgba(0, 0, 255, 0.178);
      }
      
      h2{
            color: rgb(0, 0, 0);
      }

      
}

.back-right, .back-left{
      display: inline;
}

.extra {
      width: 3rem;
}

.bg-title{
      background-color: #9bdcff;
}

.bg-back{
      background-color: #67c4f7;
}

.bg-footer{
      box-shadow: inset rgba(black, 0.66) 0 10px 20px 0;
      height: fit-content;
}

.header2{
      img {
            width: 8%;
            height: 8%;
            min-width: 5rem;
            margin-right: 20px;
            display: inline;
            div{
                  display: inline;       
            }
      }
      
      h1 {
            font-size: 260%;
            font-weight: bold;
      }
      
      h3 {
            font-size: 230%;
            line-height: 30px;
            font-weight: bold;
      }
      
      h5 {
            font-size: 200%;
      }

      h4{
            display: none;
      }
      
}

@media screen and (max-width: 1950px){
      .wrapper-grid-subject{
            grid-template-columns: repeat(2, 1fr);
      }
      .wrapper-grid-awards{
            grid-template-columns: repeat(2, 1fr);
      }
}
@media screen and (max-width: 1280px){
      
      .header{
            p {
                  display: none;
            }
            h5{
                  display: none;
            }
            h4{
                  display: block;
            }
            img {
                  display: none;
            }
      }

      .header2{
            h1{
                  display: none;
            }
            h3{
                  display: none;
            }
            h5{
                  display: none;
            }
            h4{
                  display: block;
            }
            img {
                  display: none;
            }
      }
}

@media screen and (max-width: 1000px){
      .move-top{
            margin: 1rem auto 0 auto;
      }

      .extra {
            width: 2.5rem;
      }

      

}

