.backdiv {
  display: inline-flex;                              
  background-color: blue;
  height:7.5%;
  width: 100%;
}

.backdiv a {
  color: #f2f2f2;
  text-align: center;
  text-decoration: none;
  font-size: 25px;
  padding: 10px;
  height:20%;

}

.backdiv i{
	float: right;
}