#verticalcontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.vertitem {
  flex: 0 0 calc(20% - 20px);
  background: teal;
  padding: 10px;
  width: 50%;
  margin: 1%;
  border-radius: 20%;
}

* {
  box-sizing: border-box;
}

a{
	text-align: center;
	font-size: 155%;
	display:block;
}

.vertitem a:hover {
	cursor: pointer;
}

.vertitem a{
	color: white;
}